body {
    font-family: 'Dongle', serif;
    color: #0e2f10;
    background-color: #fcf1d5;
    font-size: 40px;
    letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
}

h1 {
    font-size: 70px;
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
    margin:1rem 0;
}

h3 {
    font-size: 45px;
    margin:1rem 0;
}

article h1 {
    text-align: center;
}

header .navbar-brand:hover {
    text-decoration: none;
}

.restaurant-name {
    font-family: "Yellowtail", serif;
    color: white;
}

.paragraph p {
    font-size: 25px;
}

p {
    font-size: 25px;
}

a {
    color: #0e2f10;
    text-decoration: none;
}

header img {
    width: 100px;
}

header {
    background-image: linear-gradient(to right, #0e2f10, #186d0f, #0e2f10);
}

nav {
    background-image: linear-gradient(to right, #0e2f10, #186d0f, #0e2f10);
    height: 400px;
    padding-top: 0 !important;
}

nav ul {
    list-style: none;
    font-size: 40px;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

section {
    display: flex;
    flex-direction: column;
}

.about-section {
    position: relative;
    width: 85%;
    margin-inline: auto;
    margin-block: 20px;
    border: 1px solid #495E57;
    padding: 1rem;
    border-radius: 10px;
}

.about-section h1 {
    background-color: #fcf1d5;
    position: absolute;
    top: -17.25%;
    right: calc((100% - 228.2px) / 2);
    padding-bottom: 14px;
}

article {
    flex:1;
}

article img {
    max-width: 100%;
}

.book-now-button {
    background-color: #d3ad63;
    font-size: 45px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 4px 2px #0e2f10;
    transition: background-color 0.15s ease;
    transition: box-shadow 0.3s ease;
}

.book-now-button:hover {
    background-color: #9f844d;
    box-shadow: none;
}

.popular-dishes {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    height: 100px;
}

.popular-dishes .img-container {
    position: absolute;
    top: -100%;
    right: calc((100% - (250px * 5)) / 2);
}

.popular-dishes img {
    width: 250px;
    padding-left: 0;
    padding-right: 0;
}

.popular-dishes-text .paragraph {
    width: 300px;
    margin-left: calc(((250px * 5) - (300px * 3)) / 4);
    margin-right: calc(((250px * 5) - (300px * 3)) / 4);
}

article ul {
    list-style: none;
}

main article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
}

figure {
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
}

input, select{
    width: 80%;
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}

.social_media_header {
    margin-left: 70px;
}

.social_media_header a svg {
    color: #f9d219;
}

#button {
    padding: .5rem 1rem;
    border: 1px solid #495E57;
    background-color:#495E57;
    border-radius: 5px;
    width: 80%;
    font-size: 35px;
    display: block;
    color: #fff;
    line-height: 25px;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 400px;
}

#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../img/restaurant_inside.jpg');
    background-size: cover;
    background-position: 75%;
    color: white;
    min-height: 200px;
    text-align: center;;
    border: none;
    padding-block: 85px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero p {
    font-size: 45px;
    margin:0;
    text-shadow: 2px 2px 4px #333333;
}

.what-waits-section {
    background-color: #d3ad63;
    padding-block: 20px;
    height: 230px;
}

.what-waits-section h3 {
    color: #fcf6e7;
    position: relative;
    margin-inline: auto;
    font-size: 42px;
}

.what-waits-section h3::after {
    position: absolute;
    content: "";
    background-color: #fcf1d5;
    width: 120px;
    height: 2px;
    top: 57px;
    right: calc((100% - 120px) / 2)
}

.cta { 
    display: inline-block; 
    color: #fff;
    width: 200px; 
    font-weight: bold; 
    font-size: 40px;
    padding: 8px; 
    border: 3px solid #fff; 
    border-radius: 10px;
    text-align: center; 
    outline: none; 
    text-decoration: none; 
    margin: 1rem;
    transition: backgroung-color 0.3s ease;
    transition: border 0.2s ease;
} 

.cta:hover {
    background:#0e2f10;
    border: 3px solid #0e2f10;
}

.heading-shadow {
    text-shadow: 1px 1px 4px #333333;
}

footer {
    color: #0e2f10;
    padding: 1rem;
    display: flex;
    gap: 2rem 1rem;
}

footer img {
    max-width: 50%;
}

footer p {
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 1rem;
}

.row_about {
    display: flex;
    flex-direction: row;
}

.column figure img {
    padding: 0px 12px;
    width: 600px;
}

figcaption {
    font-size: 20px !important;
    text-align: center;
}

.videowrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1rem;
	height: 0;
}

.videowrap iframe {
	position: absolute;
    margin-top: 2rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu-price{
    display: block;
    font-size: 30px;
}

@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row_about {
        flex-direction: column;
    }

    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
}
