{% extends 'base.html' %}
{% load static %}

{% block body_header %}
  <section class="body-header d-flex align-items-center justify-content-center">
    <h1>Make a reservation</h1>
  </section>
{% endblock %}

{% block content %}
  <section>
    <nav class="path-breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Book</li>
      </ol>
    </nav>

    <div class="d-flex flex-column align-items-center">
      <div class="book-form d-flex flex-column align-items-center">
        <img class="top-left-img" src="{% static 'img/logo B.png' %}">
        <img class="bottom-right-img" src="{% static 'img/logo C.png' %}">
        <h2>Welcome to Little Lemon!</h2>

        {% csrf_token %}

        <form class="d-flex flex-column align-items-center" method="POST" id="form">
          <p>
            <label for="name">Name:</label>
            <input type="text" placeholder="Your Name" maxlength="200" required id="name">
          </p>

          <p>
            <label for="reservation_date">Reservation Date:</label>
            <input type="date" required id="reservation_date">
          </p>

          <p>
            <label for="reservation_slot">Reservation Slot:</label>
            <input type="number" min="2" max="20" required id="reservation_slot">
          </p>

          <p>
            <label for="reservation_time">Reservation time:</label>
            <select id="reservation_time" required>
            </select>
          </p>

          <button type="submit" id="button">Reserve</button>
        </form>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const notyf = new Notyf();
      const dateInput = document.getElementById('reservation_date');
      const slotInput = document.getElementById('reservation_slot');
      const timeSelect = document.getElementById('reservation_time');
      const form = document.getElementById('form');
      const today = new Date().toISOString().split('T')[0];
      dateInput.setAttribute('min', today);

      function populateTimeOptions() {
        const currentDate = new Date();
        const selectedDate = dateInput.value ? new Date(dateInput.value) : currentDate;
        const reserved_slots = [];
        timeSelect.innerHTML = '';

        let startHour = 10;
        if (selectedDate.toDateString() === currentDate.toDateString()) {
          if (currentDate.getHours() >= startHour && currentDate.getHours() < 22) {
            startHour = currentDate.getHours() + 1;
          } else if (currentDate.getHours() >= 22) {
            startHour = 23;
          }
        }

        const getReservedSlots = async () => {
          try {
            const response = await fetch("{% url 'bookings' %}?date=" + selectedDate.toISOString().split('T')[0]);
            if (!response.ok) {
              notyf.error('Failed to fetch bookings');
              return [];
            }
            return await response.json();
          }
          catch (err) {
            console.log(err);
            notyf.error('Failed to fetch bookings');
            return [];
          }
        };

        getReservedSlots().then((data) => {
          for (const booking of data) {
            const time = new Date(booking.fields.reservation_date).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            reserved_slots.push(time.split(':')[0]);
          }

          let slot_options = '<option value="0" disabled>Select time</option>'
          for (let hour = startHour; hour < 23; hour++) {
            const label = formatTime(hour);
            if (!reserved_slots.includes(label.split(':')[0].padStart(2, '0'))) {
              slot_options += `<option value="${hour}">${label}</option>`;
            } else {
              slot_options += `<option value="${hour}" disabled>${label} - Reserved</option>`;
            }
          }

          timeSelect.innerHTML = slot_options;
        });
      }

      function formatTime(hour) {
        const ampm = hour >= 12 ? 'PM' : 'AM';
        const formattedHour = hour % 12 || 12;
        return `${formattedHour}:00 ${ampm}`;
      }

      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const name = document.getElementById('name').value;
        const reservation_date = dateInput.value;
        const reservation_slot = slotInput.value;
        const reservation_time = timeSelect.value;
        
        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        const response = await fetch("{% url 'bookings' %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          },
          body: JSON.stringify({
            name,
            reservation_date: new Date(`${reservation_date}T${reservation_time.padStart(2, '0')}:00:00`).toISOString(),
            reservation_slot,
          }),
        });

        if (response.ok) {
          populateTimeOptions();
          notyf.success('Reservation made successfully');
        } else {
          notyf.error('Failed to make reservation');
        }
      });

      dateInput.addEventListener('change', populateTimeOptions);
      populateTimeOptions();
    });
  </script>
{% endblock %}
