{% extends 'base.html' %}
{% load static %}

{% block body_header %}
  <section class="body-header"></section>
{% endblock %}

{% block content %}
  <section class="hero-section">
    <article id="hero" class="col-10 mx-auto rounded-5">
      <h1 class="heading_shadow">SPECIAL OFFER</h1>
      <p>
        30% Off This Weekend 
      </p>
      <a href="{% url 'book' %}" class="cta"> Book now </a>
    </article>
  </section>

  <section class="popular-dishes">
    <h3>What you miss!</h3>


    <div class="img-container d-flex justify-content-md-center">
      <img src="{% static 'img/menu_items/Salad.jpg' %}">
      <img src="{% static 'img/menu_items/Grill B.jpg' %}">
      <img src="{% static 'img/menu_items/Pasta.jpg' %}">
      <img src="{% static 'img/menu_items/Lemon Cake.jpg' %}">
      <img src="{% static 'img/menu_items/Grilled Fish B.jpg' %}">
    </div>
  </section>

  <div class="popular-dishes-text d-flex align-items-strat justify-content-center">
    <div class="paragraph">
      <h3>Menu</h3>
      <p>Our menu consists of 12-15 seasonal items based on Italian, Greek, and Turkish culture.</p>
    </div>

    <div class="paragraph">
      <h3>Table Awaits</h3>
      <p>Reserve your table for an Italian, Greek, and Turkish dining experience.</p>
    </div>

    <div class="paragraph">
      <h3>Availability</h3>
      <p>The Little Lemon Restaurant is open 7 days a week, except for public holidays.</p>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <a href="{% url 'book' %}" class="book-now-button"> Book now </a>
  </div>
{% endblock %}
