{% extends 'base.html' %} 
{% load static %}

{% block body_header %}
  <section class="body-header d-flex align-items-center justify-content-center">
    <h1>{{ menu_item.name }}</h1>
  </section>
{% endblock %}

{% block content %}
<section>
    <article>
      <nav class="path-breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'menu' %}">Menu</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ menu_item.name }}</li>
        </ol>
      </nav>

      <div class="menu-item-content container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="menu-item-description col-6">
            <span>
              <h3>Description:</h3>
              <p>{{ menu_item.menu_item_description }}</p>
            </span>
            <p class="menu-item-price">Price: ${{ menu_item.price }}.00</p>
          </div>

          <img 
            src="{% static 'img/menu_items/' %}{{ menu_item.name }}.jpg" alt="{{ menu_item.name }}"
            class="col-6"
          />
        </div>
      </div>
    </article>
</section>
{% endblock %}
